<footer>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-fend">
	  <ul class="navbar-nav ml-5">
	    <li class="nav-item">
	      <a class="nav-link" href="https://developer.twitter.com/" target="_blank">Developer site</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="https://apps.twitter.com" target="_blank">App site</a>
	    </li>
	  </ul>
	</nav>
</footer>