<nav class="navbar navbar-expand-sm bg-dark navbar-dark align-menu">
  <ul class="navbar-nav ml-5">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/" target="_blank">Twitter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html" target="_blank">API Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://robots.thoughtbot.com/ruby-wrapper-for-twitter-search-api#search-operators" target="_blank">Query Documentation</a>
    </li>
  </ul>
</nav>